<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="about" class="py-4">
  <div class="container">
    <div class="row">
      <br>
      <br>
      <br>
      <div class="col-md-8">
        <h2>Welcome to Grocer's!</h2>
        <p class="lead">Get your Groceries delivered at your door step</p>
        <img src="" alt="">
        <p class="mt-4">We are live in Hazaribagh jharkhand. We deals in groceries, cosmetics,and the daily needs which the customers use on their daily basis.
          customer can buy their monthly groceries here at very reasonable price + ON every purchase customers will be awarded with points on their every successful
           purchase done (For eg an order of 1000rs will make 10 points to the customer through which they can claim exciting gifts) and the points get continuously
           increase with every purchase done . our company provides free home delivery on the order above 900 INR. For placing the order you can simply WhatsApp your
            list of items you want to purchase or you can give a missed call to 7461970960 our executive will call back and help you to make your list ready. We have
            easy handy return/exchange policy We ACCEPT *CASH ON DELIVERY* , online wallets, All DEBIT CARDS AND CREDIT CARDS ARE ACCEPTED AND WE SODEXO cards accepted.
            we have about 1000+ products over different brands</p>
      </div>

      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="{% static 'img\CART.png' %}" alt="">
          <div class="card-body">

          </div>
        </div>

    </div>
  </div>
</section>
<br>
<br>
<br>
<br>
<br>

{% endblock %}
